@media only screen and (min-width:200px)  {
  
  .textBox{
    width: 270%;
  }
  .icon{
    margin-left: 0px;
  }

  .github{
    width: 100%;

  }

  .mailchimp img{width: 10%;}
 .landing{
   display: flex;
   flex-direction: column;
   padding: 20px;
 }
 .landing .blueSection {
  width: 100%;
}
.soon{
  display: flex;
  flex-direction: column;
}
.soon .comingSoon{
  padding-top: 0px;
  width: 100%;
}
.soon .comingSoon p{
  margin-top: 50px;
  text-align: center;
}
 }
/* 
 @media only screen and (min-width:320px)  {
  .textBox{
    width: 250%;
  
  }
   } */
   @media only screen and (min-width:380px)  {
    .textBox{
      width: 300%;
    
    }
    .soon{
      display: flex;
      flex-direction: column;
    }
    .soon .comingSoon{
      padding-top: 0px;
      width: 100%;
    }
    .soon .comingSoon p{
      margin-top: 50px;
      text-align: center;
    }
     }
@media only screen and (min-width:400px)  {
  .mailchimp img{width: 10%;}
 .landing{
   display: flex;
   flex-direction: column;
   padding: 20px;
 }
 .landing .blueSection {
  width: 100%;
  padding: 20px;
}
.textBox{
  width: 320%;

}
.soon{
  display: flex;
  flex-direction: column;
}
.soon .comingSoon{
  padding-top: 50px;
  width: 100%;
}
.soon .comingSoon p{
  margin-top: 0px;
  text-align: center;
}
 }

@media only screen and (min-width:600px)  {
  .mailchimp img{width: 10%;}
 .landing{
   display: flex;
   flex-direction: column;
   padding: 40px;
 }

 .landing .blueSection {
  width: 100%;
  padding: 20px;
}
.textBox{
  width: 335%;

}
.soon{
  display: flex;
  flex-direction: column;
}
.soon .comingSoon{
  padding-top: 0px;
  width: 100%;
}
.soon .comingSoon p{
  margin-top: 50px;
  text-align: center;
}
 }

@media only screen and (min-width:800px)  {
.mailchimp img{width: 10%;}
 .landing{
   display: flex;
   flex-direction: column;
   padding: 50px;
 }
 .landing .blueSection {
  width: 100%;
  padding: 20px;
}
 .intro{
  display: flex;
  flex-direction: row;

 }
 .soon{
  display: flex;
  flex-direction: column;
}
.soon .comingSoon{
  padding-top: 100px;
  width: 100%;
  text-align: center;
}
.soon .comingSoon p{
  margin-top: 50px;
  text-align: center;
  margin-left: 0px;
}
 .textBox{
  width: 300%;

}
 }


@media only screen and (min-width:1000px)  {
 .landing{
   display: flex;
   flex-direction: row;
   padding: 60px;
 }
 .mailchimp img{width: 50%;}
 .intro{
  display: flex;
  flex-direction: row;

 }
 .textBox{
  width: 100%;
  margin-left: 0px;
}
 .landing .blueSection {
  width: 100%;
  padding: 50px;
}
.icon{
  margin-left: 0px;
}
.soon{
  display: flex;
  flex-direction: row;
}
.soon .comingSoon{
  padding-top: 100px;
  width: 50%;
}
.soon .comingSoon p{
  margin-top: 200px;
  text-align: center;
}

 }
@media only screen and (min-width:1200px)  {

.mailchimp img{width: 50%;}
 .landing{
   display: flex;
   flex-direction: row;
   padding: 80px;
 }
 .intro{
  display: flex;
  flex-direction: row;

 }
 .textBox{
  width: 120%;
  margin-left: 0px;
}
 .landing .blueSection {
  width: 100%;
  padding: 50px;
}
.icon{
  margin-left: 0px;
}
.soon{
  display: flex;
  flex-direction: row;
}
.soon .comingSoon{
  padding-top: 100px;
  width: 50%;
}
.soon .comingSoon p{
  margin-top: 200px;
  text-align: center;
}
.btnContainer{
  margin-bottom: 20px;
}
 }